@page
@model ICA2.Pages.PizzasModel
@{
}






<div class="text-center">
    <h1>Our Great Collection Of Pizzas!</h1>
    <h4>Choose One or try our Pizza Builder! Then Order and Done!</h4>
    <h4>No Personal Details Required!</h4>
    <h4>We got you Covered!</h4>
</div>

<div class="row mb-5 mt-5">
    <div class="col-12">
        <div class="row bg-secondary">
            <div class="col-4">
                <img src="/Images/Beef.png" class="w-50 rounded-pill " />
            </div>
            <div class="col-8 text-white">
                <p>Create Your Own Pizza</p>
                <p> Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white;" asp-page="Form/CustomPizza">Try Now!</a>
            </div>
        </div>
    </div>

    <br />
    <br />

    <br />

    <br />


    <div class="col-12">
        <div class="row bg-secondary">
            <div class="col-4">
                <img src="/Images/Cheese .png" class="w-50 rounded-pill " />
            </div>
            <div class="col-8 text-white">
                <p>Create Your Own Pizza</p>
                <p> Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white;" asp-page="Form/CustomPizza">Try Now!</a>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row bg-secondary">
            <div class="col-4">
                <img src="/Images/Deluxe Dr.Pizza.png" class="w-50 rounded-pill " />
            </div>
            <div class="col-8 text-white">
                <p>Create Your Own Pizza</p>
                <p> Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white;" asp-page="Form/CustomPizza">Try Now!</a>
            </div>
        </div>
    </div>


    <div class="col-12">
        <div class="row bg-secondary">
            <div class="col-4">
                <img src="/Images/Ham.png" class="w-50 rounded-pill " />
            </div>
            <div class="col-8 text-white">
                <p>Create Your Own Pizza</p>
                <p> Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white;" asp-page="Form/CustomPizza">Try Now!</a>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row bg-secondary">
            <div class="col-4">
                <img src="/Images/mushroom.png" class="w-50 rounded-pill " />
            </div>
            <div class="col-8 text-white">
                <p>Create Your Own Pizza</p>
                <p> Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white;" asp-page="Form/CustomPizza">Try Now!</a>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row bg-secondary">
            <div class="col-4">
                <img src="/Images/Pepperoni .png" class="w-50 rounded-pill " />
            </div>
            <div class="col-8 text-white">
                <p>Create Your Own Pizza</p>
                <p> Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white;" asp-page="Form/CustomPizza">Try Now!</a>
            </div>
        </div>
    </div>


</div>






